/* CSS reset */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    background-color: #F6F8F9;
}

h1, h2{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
}
main, footer{
    max-width: 1100px;
    margin: 0 auto;

}

header{
    background-color: #fff;
}

.container{
    margin-top: 20px;
    max-width: 1000px;
}

.separator{
    margin: 10px auto;
    border: 1px solid #c1b5b5;
}

.container {
    width: 600px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
}

.btn {
    display: inline-block;
    padding: 5px 15px;
    margin-right: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #1E90FF;
    cursor: pointer;
    text-align: center; 
    border-radius: 5px;
}

.add-task{
    border: none;
}

.add-section {
    color: grey;
    border: 1px solid gray;
    background-color: #fff;
}

.todo-section {
    margin-top: 20px;
}

.todo-section h2 {
    font-size: 18px;
    margin: 10px 0;
}

.todo-list {
    list-style: none;
    padding: 0;
}

.todo-item {
    padding: 10px 0;
}

.complete {
    border: 1px solid green;
    color: green;
}

.check-icon, .cross-icon{
    display: inline-block;
    width: 20px; 
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px; 
    font-size: 14px; 
    margin-right: 10px;
}

.incomplete {
    border: 1px solid red;
    color: red;
}

.label {
    margin-left: auto;
    padding: 3px 8px;
    border-radius: 12px;
    font-size: 12px;
    color: #ffffff;
}

.editorial {
    background-color: #45ABEA;
}
.q1-goals {
    background-color: #9C72E4;
}

.recruiting {
    background-color: #64C0A9;
}

.mobile {
    background-color: #F29E33;
}

.website {
    background-color: #D863A1;
}

.sales {
    background-color: #B0C926;
}